application:
  name: ersilia-hub

server:
  version: 0.0.20
  replicas: 1

  env:
    MAX_CONCURRENT_MODEL_INSTANCES: '100'
    WORK_REQUEST_WORKER_POD_READY_TIMEOUT: '900'
    logs:
      ModelController: INFO
      ModelIntegrationController: TRACE
      K8sController: ERROR
      K8sProxyController: INFO
      WorkRequestController: INFO
      WorkRequestWorker: INFO
      JobSubmissionTask: TRACE
      S3IntegrationController: INFO
      AuthController: INFO
      NodeMonitor: ERROR
      ServerController: INFO
      FailedServerHandler: INFO
      ModelInstanceHandler: DEBUG
      JobSubmissionProcess: DEBUG
      InstanceMetricsController: ERROR

frontend:
  version: 0.0.12
  replicas: 1

