@import '../styles/colour-palette.scss';

.app {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .app-header {
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .app-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $ersilia-purple;
      cursor: pointer;

      .mat-icon {
        width: 46px;
        height: 46px;
        font-size: 46px;
      }
    }

    .app-header-image {
      padding: 4px 10px;
      width: 160px;
      height: 44px;

      img {
        width: 160px;
        height: 44px;
      }
    }

    .spacer {
      width: 100%;
      flex: 1;
    }

    .account {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      padding: 2px 8px;
      margin: 4px 10px;
      border-radius: 16px;
      background-color: $ersilia-grey-purple;
      color: #fffc;

      .text {
        font-size: 16px;
        margin-right: 5px;
      }

      .icon {
        cursor: pointer;
      }

      .mat-icon {
        width: 46px;
        height: 46px;
        font-size: 46px;
      }
    }
  }

  .app-body {
    padding-top: 15px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
