@if (sessionDetails().authed) {
<div class="app">
  <div class="app-header">
    @if (appPermissions().canViewMenu) {
    <div class="app-menu" (click)="toggleMenu()">
      @if (menuExpanded) {
      <mat-icon>menu_open</mat-icon>
      } @else {
      <mat-icon>menu</mat-icon>
      }
    </div>
    }

    <!-- TODO: icon menu -->
    <!-- TODO: check permissions (ADMIN) -->
    <div class="app-header-image">
      <img src="/assets/ersilia-logo-full.png" />
    </div>

    <div class="spacer"></div>

    <div class="account">
      @if (sessionDetails().authType==='ErsiliaAnonymous' ) {
      <div class="text">{{ sessionDetails().sessionId }}</div>
      <div class="icon" [matMenuTriggerFor]="accountMenu">
        <mat-icon>account_circle</mat-icon>
      </div>
      } @else {
      <div class="text">{{ user()?.username }}</div>
      <div class="icon" (click)="openUserDialog()">
        <mat-icon>account_circle</mat-icon>
      </div>
      }
    </div>
  </div>

  <mat-menu [hasBackdrop]="false" [backdropClass]="'account-menu-backdrop'" #accountMenu="matMenu">
    @if (sessionDetails().authType==='ErsiliaAnonymous' ) {
    <button mat-menu-item (click)="copyAnonSessionId()">
      <mat-icon>content_copy</mat-icon>
      <span>Copy Session Id</span>
    </button>
    }
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>

  <div class="app-body">
    @if (appPermissions().canViewMenu && menuExpanded) {
    <app-menu [appPermissions]="appPermissions()" (exit)="toggleMenu()"></app-menu>
    }

    <router-outlet />
  </div>
</div>
} @else {
<login></login>
}


<notifications></notifications>
