$ersilia-purple: #50285a;
$ersilia-green: #bee6b4;

$ersilia-grey-purple: #403044d1;
$pastel-red: #ffb3ba;
$pastel-orange: #ffdfba;
$pastel-yellow: #ffffba;
$pastel-green: #baffc9;
$pastel-blue: #bae1ff;

$alert-red: #f73044;
$alert-orange: #f79e3a;
$alert-yellow: #f8f84a;
$alert-green: #31ec5a;
$alert-blue: #2a9df4;