<div class="dialog-container">
    <div class="dialog-header">
        Create new Model Evaluation
    </div>

    <div class="request-form">
      <div class="filters">
          <div class="filter free-text">
              <mat-form-field>
                  <mat-label>All Fields</mat-label>
                  <input matInput [(ngModel)]="filterFreeText" [disabled]="modelSelectionDisabled">
              </mat-form-field>
          </div>

          <div class="filter id">
              <mat-form-field>
                  <mat-label>Id</mat-label>
                  <input matInput [(ngModel)]="filterId" [disabled]="modelSelectionDisabled">
              </mat-form-field>
          </div>

          <div class="filter description">
              <mat-form-field>
                  <mat-label>Description</mat-label>
                  <input matInput [(ngModel)]="filterDescription" [disabled]="modelSelectionDisabled">
              </mat-form-field>
          </div>
      </div>

      <div class="entry-row">
          <div class="model">
              @if (modelsLoading()) {
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              }
              <mat-form-field>
                  <mat-label>Select a Model</mat-label>
                  <mat-select [(value)]="selectedModel" [disabled]="modelSelectionDisabled">
                      @for (model of filteredModels(); track model) {
                      <mat-option [value]="model.id">
                        <span class="model-selection-id">{{ model.id }}</span> : <span class="model-selection-description">{{
                          model.details.identification_details && model.details.identification_details.title ?
                            model.details.identification_details.title : model.details.description
                          }}</span>
                      </mat-option>
                      }
                  </mat-select>
              </mat-form-field>
          </div>

        <div class="file-upload">
            <input type="file" (change)="onFileSelected($event)" #fileUpload>

            <div class="file-upload">
                {{fileName || "Select input file"}}

                <div class="ersilia-button icon-only" (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </div>
            </div>
        </div>
      </div>

      <div class="entries">
          <mat-form-field class="smiles">
              <mat-label>SMILES <strong>(first line must be a header)</strong></mat-label>
              <textarea matInput rows=16 placeholder="Enter molecules as SMILES strings with a Header line"
                  [(ngModel)]="entriesString"></textarea>
          </mat-form-field>
      </div>

      @if (canOptInToCache()) {
          <div class="contribute">
              <div class="check">
                  <mat-checkbox [(ngModel)]="cacheOptIn"></mat-checkbox>
              </div>

              <div class="notice">
                If you would like to contribute to Ersilia Hub's model cache, you can select this checkbox.
                <br/>
                The result of your inputs will be cached and future calculations of the same Molecules will use the cached result.
              </div>
          </div>
      }
    </div>

    <div class="dialog-actions">
        <div class="ersilia-button cancel" (click)="close()">
            <mat-icon>close</mat-icon>
            Cancel
        </div>

        <div class="ersilia-button submit" (click)="submit()" [ngClass]="{'disabled': !canSubmit()}">
            @if (!submitting()) {
            <mat-icon>science</mat-icon>
            } @else {
            <ersilia-loader [colour]="'#ffffff'"></ersilia-loader>
            }
            Submit
        </div>
    </div>
</div>
