<div class="component-header">
    Models
</div>

<div class="component-toolbar">
    <div class="filters">
        <div class="filter id">
            <mat-form-field>
                <mat-label>Id</mat-label>
                <input matInput [(ngModel)]="filterId">
            </mat-form-field>
        </div>

        <div class="filter description">
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input matInput [(ngModel)]="filterDescription">
            </mat-form-field>
        </div>
    </div>
</div>

<div class="models-container">
  @for (model of filteredModels(); track tableTrackBy) {
  <div class="model mat-elevation-z4">
    <div class="main-column" (click)="openDetailsDialog(model)">
      <div class="title">{{ model.details.identification_details ? model.details.identification_details.title : model.id }}</div>
      <div class="description">{{ model.details.description }}</div>
    </div>

    <div class="extra-column">
      <div class="model-id" (click)="openDetailsDialog(model)">{{ model.id }}</div>
      <div class="actions">
          <div class="ersilia-button icon-only open-request" (click)="openRequestForm(model)"
            #submitTooltip="matTooltip" matTooltip="New Evaluation"
          >
              <mat-icon>science</mat-icon>
          </div>
      </div>
    </div>
  </div>
  }
</div>
