@import '../../styles/colour-palette.scss';

:host {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.component-header {
  font-size: 26px;
  margin-bottom: 20px;
  width: calc(100% - 30px);
  color: $ersilia-purple;
}

.component-toolbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: calc(100% - 50px);
  margin-bottom: 20px;


  .filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    flex: 1;

    .filter {
      margin-right: 10px;
    }

    .spacer {
      width: 100%;
      flex: 1;
    }
  }
}

.mat-column-id {
  width: 120px;
}

.mat-column-description {
  width: 400px;
  text-wrap: wrap;
}

.mat-mdc-table {
  background-color: #727272;
}

.table {
  width: 80%;
  height: 100%;
}

.models-container {
  display: flex;
  width: calc(100% - 30px);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  scrollbar-width: none;

  .model {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 20px;
    background-color: #e9e9e9;
    border-radius: 6px;

    .main-column {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      margin-right: 7px;

      color: $ersilia-purple;
      cursor: pointer;
      flex: 1;
      min-height: 100px;

      .title {
        font-weight: bold;
        font-size: 15px;
      }
    }

    .extra-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-height: 100px;

      .model-id {
        background-color: $ersilia-purple;
        color: white;
        padding: 7px;
        border-radius: 10px;
        font-size: 11px;
        cursor: pointer;

      }
    }
  }
}

.models-container::-webkit-scrollbar {
  display: none;
}
