<div class="component-header">
    Model Instances
</div>

<div class="component-toolbar">
    <!-- TODO: eventually add filters here -->
    <div class="spacer"></div>
    <div class="filter refresh">
        <div class="ersilia-button icon-only refresh" (click)="load()"
            [ngClass]="{'disabled': loading() || autoRefreshEnabled()}">
            @if(loading()) {
            <ersilia-loader [colour]="'#fffc'"></ersilia-loader>
            } @else {
            <mat-icon>refresh</mat-icon>
            }
        </div>
    </div>
</div>

<div class="model-instances-container">
    @for (instance of instances(); track instance.k8s_pod.name) {
    <div class="model-instance mat-elevation-z8">
        <div class="info-block">
            <div class="info-block-title">
                Details
            </div>
            <div class="info-block-details">
                <div class="detail">
                    <div class="name">Type</div>
                    <div class="value">{{ instance.is_model ? "Model" : "Hub Service" }}</div>
                </div>
                <div class="detail">
                    <div class="name">Name</div>
                    <div class="value">{{ instance.k8s_pod.name }}</div>
                </div>
                @if (instance.is_model) {
                <div class="detail">
                    <div class="name">Model</div>
                    <div class="value">{{ instance.model_id }}</div>
                </div>
                <div class="detail">
                    <div class="name">Request ID</div>
                    <div class="value">{{ instance.request_id }}</div>
                </div>
                }
            </div>
        </div>

        <div class="info-block">
            <div class="info-block-title">
                Status
            </div>
            <div class="info-block-details">
                <div class="detail">
                    <div class="name">State</div>
                    <div class="value">{{ instance.instance_state }}</div>
                </div>
                @if (instance.instance_state_reason != null) {
                <div class="detail">
                    <div class="name">State Reason</div>
                    <div class="value">{{ instance.instance_state_reason }}</div>
                </div>
                }
                <div class="detail">
                    <div class="name">Start Time</div>
                    <div class="value">{{ instance.k8s_pod.state.state_times["running"] }}</div>
                </div>
            </div>
        </div>

        <div class="info-block">
            <div class="info-block-title">
                CPU Metrics
            </div>
            <div class="info-block-details">
            </div>
        </div>

        <div class="info-block">
            <div class="info-block-title">
                Memory Metrics
            </div>
            <div class="info-block-details">
            </div>
        </div>

    </div>
    }
</div>