@import '../../styles/colour-palette.scss';

:host {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.component-header {
  font-size: 26px;
  margin-bottom: 20px;
  width: calc(100% - 30px);
  color: $ersilia-purple;
}

.component-toolbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: calc(100% - 50px);
  margin-bottom: 20px;


  .filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    flex: 1;

    .filter {
      margin-right: 10px;

      &.refresh {
        margin-right: 0px;
      }

      &.model {
        width: 250px;

        .mat-mdc-form-field {
          width: 250px;
        }

      }
    }

    .spacer {
      width: 100%;
      flex: 1;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    flex: 1;

    margin-bottom: 20px;

    .action {}
  }
}

.model-selection-id {
  font-weight: bold;
  font-size: 14px;
}

.model-selection-description {
  font-size: 12px;
  font-style: italic;
}


.model-instances-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .model-instance {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    width: 85%;
    min-width: 1300px;
    padding: 10px;
    margin: 0px 15px;
    margin-bottom: 20px;
    background-color: #e9e9e9;
    border: solid 1px $ersilia-grey-purple;
    border-radius: 6px;

    .info-block {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      padding: 0px 10px;
      margin: 0px 15px;

      .info-block-title {
        font-size: 18px;
        font-weight: bold;
        text-align: center;

        width: 100%;
        margin-bottom: 5px;
        border-bottom: 1px solid $ersilia-purple;
        padding: 3px;
        color: $ersilia-purple;
      }

      .info-block-details {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 5px 10px;

        .detail {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 3px;
          margin-bottom: 3px;

          .name {
            font-weight: bold;
            font-size: 15px;
            color: $ersilia-purple;
            margin-right: 8px;
          }
        }
      }
    }
  }
}
