<div class="component-header">
    Model Instances
</div>

<div class="component-toolbar">

    <div class="filters">
        <div class="filter model">
            @if (modelsLoading()) {
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            }
            <mat-form-field>
                <mat-label>Select a Model</mat-label>
                <mat-select [(value)]="filtersModel">
                    @for (model of models(); track model) {
                    <mat-option [value]="model.id">
                      <span class="model-selection-id">{{ model.id }}</span> : <span class="model-selection-description">{{ model.details.description }}</span>
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>

        <div class="filter">
            <mat-checkbox [(ngModel)]="filtersLoadActive">Active Instances</mat-checkbox>
        </div>

        <div class="filter">
            <mat-checkbox [(ngModel)]="filtersLoadTerminated">Terminated Instances</mat-checkbox>
        </div>

        <div class="filter">
            <mat-checkbox [(ngModel)]="filtersLoadMetrics">Resource Metrics</mat-checkbox>
        </div>

        <div class="spacer"></div>

        <div class="filter refresh">
            <div class="ersilia-button icon-only refresh" (click)="load()"
                [ngClass]="{'disabled': loading() || autoRefreshEnabled()}">
                @if(loading()) {
                <ersilia-loader [colour]="'#fffc'"></ersilia-loader>
                } @else {
                <mat-icon>refresh</mat-icon>
                }
            </div>
        </div>
    </div>
</div>

<div class="model-instances-container">
    @for (instance of instances(); track trackBy($index, instance)) {
    <div class="model-instance mat-elevation-z8">
        <div class="info-block">
            <div class="info-block-title">
                Details
            </div>
            <div class="info-block-details">
                <div class="detail">
                    <div class="name">Model</div>
                    <div class="value">{{ instance.model_instance.model_id }}</div>
                </div>
                <div class="detail">
                    <div class="name">Request Id</div>
                    <div class="value">{{ instance.model_instance.work_request_id }}</div>
                </div>
            </div>
        </div>

        <div class="info-block">
            <div class="info-block-title">
                State
            </div>
            <div class="info-block-details">
                <div class="detail">
                    <div class="name">State</div>
                    <div class="value">{{ instance.model_instance.state }}</div>
                </div>
                @if (instance.model_instance.termination_reason != null) {
                <div class="detail">
                    <div class="name">Termination Reason</div>
                    <div class="value">{{ instance.model_instance.termination_reason }}</div>
                </div>
                }
                @if (instance.last_event != null) {
                <div class="detail">
                    <div class="name">Last Event Type</div>
                    <div class="value">{{ instance.last_event!.log_event }}</div>
                </div>
                <div class="detail">
                    <div class="name">Last Event Time</div>
                    <div class="value">{{ instance.last_event!.log_timestamp | date:'yyyy-MM-dd HH:mm:ss' }}</div>
                </div>
                }
            </div>
        </div>

        <div class="info-block">
            <div class="info-block-title">
                Job State
            </div>
            <div class="info-block-details">
                @if (instance.model_instance.job_submission_process != null) {
                  <div class="detail">
                      <div class="name">State</div>
                      <div class="value">{{ instance.model_instance.job_submission_process!.job_status }}</div>
                  </div>
                  <div class="detail">
                      <div class="name">Job Submission Timestamp</div>
                      <div class="value">{{ instance.model_instance.job_submission_process!.job_submission_timestamp | date:'yyyy-MM-dd HH:mm:ss' }}</div>
                  </div>
                  <div class="detail">
                      <div class="name">Job Completion Timestamp</div>
                      <div class="value">{{ instance.model_instance.job_submission_process!.job_completion_timestamp | date:'yyyy-MM-dd HH:mm:ss' }}</div>
                  </div>
                }
            </div>
        </div>

        <div class="info-block">
            <div class="info-block-title">
                CPU Metrics
            </div>
            <div class="info-block-details">
                <div class="detail">
                    <div class="name">Max</div>
                    <div class="value">
                        <model-instance-resource [instance]="instance"
                            [resourceProfileId]="'CPU_MAX'"></model-instance-resource>
                    </div>
                </div>
                <div class="detail">
                    <div class="name">Min</div>
                    <div class="value">
                        <model-instance-resource [instance]="instance"
                            [resourceProfileId]="'CPU_MIN'"></model-instance-resource>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-block">
            <div class="info-block-title">
                Memory Metrics
            </div>
            <div class="info-block-details">
                <div class="detail">
                    <div class="name">Max</div>
                    <div class="value">
                        <model-instance-resource [instance]="instance"
                            [resourceProfileId]="'MEMORY_MAX'"></model-instance-resource>
                    </div>
                </div>
                <div class="detail">
                    <div class="name">Min</div>
                    <div class="value">
                        <model-instance-resource [instance]="instance"
                            [resourceProfileId]="'MEMORY_MIN'"></model-instance-resource>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-block">
            <div class="info-block-title">
                Actions
            </div>
            <div class="info-block-details">
                <div class="action-button" (click)="viewDetailedInstance(instance)">
                    <mat-icon>info</mat-icon>
                </div>
            </div>
        </div>
    </div>
    }
</div>
