<div class="dialog-container">
    <div class="dialog-header">
        <div class="title">
          Update Password
        </div>
    </div>

  @if (user != undefined) {
    <div class="password-update-form">
        @if (isOwnUser) {
          <div class="field password">
              <mat-form-field>
                  <mat-label>Current Password</mat-label>
                  <input matInput required type="password" [formControl]="updateCurrentPasswordControl"
                      [errorStateMatcher]="formControlErrorStateMatcher">
                  @if (updateCurrentPasswordControl.hasError('required')) {
                  <mat-error>Password is <strong>required</strong></mat-error>
                  } @else if (updateCurrentPasswordControl.hasError('validation')) {
                  <mat-error>{{ updateCurrentPasswordControl.getError('validation') }}</mat-error>
                  }
              </mat-form-field>
          </div>
        }

        <div class="field password">
            <mat-form-field>
                <mat-label>New Password</mat-label>
                <input matInput required type="password" [formControl]="updateNewPasswordControl"
                    [errorStateMatcher]="formControlErrorStateMatcher">
                @if (updateNewPasswordControl.hasError('required')) {
                <mat-error>Password is <strong>required</strong></mat-error>
                } @else if (updateNewPasswordControl.hasError('validation')) {
                <mat-error>{{ updateNewPasswordControl.getError('validation') }}</mat-error>
                }
            </mat-form-field>
        </div>

        <div class="field password">
            <mat-form-field>
                <mat-label>New Password Confirmation</mat-label>
                <input matInput required type="password" [formControl]="updateNewPasswordConfirmationControl"
                    [errorStateMatcher]="formControlErrorStateMatcher">
                @if (updateNewPasswordConfirmationControl.hasError('required')) {
                <mat-error>Password is <strong>required</strong></mat-error>
                } @else if (updateNewPasswordConfirmationControl.hasError('validation')) {
                <mat-error>{{ updateNewPasswordConfirmationControl.getError('validation') }}</mat-error>
                }
            </mat-form-field>
        </div>
    </div>
  }

  <div class="dialog-actions">
      <div class="ersilia-button cancel" (click)="close()">
          <mat-icon>close</mat-icon>
          Close
      </div>

      <div class="ersilia-button submit" (click)="updatePassword()" [ngClass]="{'disabled': !canSubmitPasswordUpdate()}">
          @if (submitting()) {
          <ersilia-loader scale="small" [animate]="true" colour="#fffc"></ersilia-loader>
          } @else {
          <mat-icon>edit</mat-icon>
          }
          Update Password
      </div>
  </div>
</div>
