@import '../../../styles/colour-palette.scss';

:host {
  padding: 20px;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 20px;

  .dialog-header {
    width: 100%;
    font-size: 26px;
    padding: 10px;
    margin-bottom: 25px;

    color: $ersilia-purple;
    border-bottom: 1px solid $ersilia-purple;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .title {
    flex: 1;
  }

  .dialog-actions {
    width: 100%;
    margin-top: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .ersilia-button {
      &.cancel {
        background-color: $pastel-red;
        color: #000000cc;

        .mat-icon {
          color: #000000cc;
        }
      }

      &.submit {
        ersilia-loader {
          margin-right: 5px;
        }
      }
    }
  }
}

.password-update-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .field {
    .mat-mdc-form-field {
      min-width: 240px;
    }
  }

  .actions {
    margin-top: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
  }
}
