@import '../../styles/colour-palette.scss';

:host {
    width: 80%;
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;

    .spacer {
        flex: 1 1 auto;
    }
}

.status {
    border-radius: 5px;
    padding: 4px;
    text-align: center;
    color: #000000b5;

    &.completed {
        background-color: $pastel-green;
    }

    &.queued {
        background-color: $ersilia-grey-purple;
        color: #ffffffad;
    }

    &.scheduling {
        background-color: $pastel-yellow;
    }

    &.processing {
        background-color: $pastel-yellow;
    }

    &.failed {
        background-color: $pastel-red;
    }
}

.mat-column-id {
    width: 48px;
}

.mat-column-model_id {
    width: 100px;
}

.mat-column-request_date {
    width: 180px;
}

.mat-column-request_status {
    width: 140px;
}

.mat-column-actions {
    width: 100px;
}

.mat-mdc-table {
    background-color: #727272;
}

.action-button {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    padding: 4px;
    background-color: $ersilia-purple;

    .mat-icon {
        width: 32px;
        height: 32px;
        font-size: 32px;
        color: #ffffffcc;
    }
}