@if (debug) {
<img src="/assets/ersilia-logo.png" [ngClass]="ngClass" />
}

<div class="animation-container" [ngClass]="ngClass">
    <div class="line line-0" [ngClass]="ngClass" [ngStyle]="{'background-color': colour}">
    </div>
    <div class="line line-1" [ngClass]="ngClass" [ngStyle]="{'background-color': colour}">
    </div>
    <div class="line line-2" [ngClass]="ngClass" [ngStyle]="{'background-color': colour}">
    </div>
    <div class="line line-3" [ngClass]="ngClass" [ngStyle]="{'background-color': colour}">
    </div>
    <div class="line line-4" [ngClass]="ngClass" [ngStyle]="{'background-color': colour}">
    </div>
    <div class="line line-5" [ngClass]="ngClass" [ngStyle]="{'background-color': colour}">
    </div>
    <div class="line line-6" [ngClass]="ngClass" [ngStyle]="{'background-color': colour}">
    </div>
    <div class="line line-7" [ngClass]="ngClass" [ngStyle]="{'background-color': colour}">
    </div>
</div>